<body>
<div>
    <h1>AutoBot</h1>
</div>
<div class="controlnav grid">
    <div class="control col">
        <p-button label="Start Scan" [loading]="deactivatebtn" [disabled]="deactivatebtn" (click)="startbot()"></p-button>
        <p-button label="Stop Scan" [disabled]="!deactivatebtn" (click)="stopbot()"></p-button>
    </div>
</div>
<div class="controlnav grid">
    <div class="col">
        <img id="appImage" [src]="appImage" alt="Image" width="400">
        <a id="appname"></a>
    </div>
</div>
</body>