<HTML>
    <head>    
        <!-- BoxIcons v2.1.2 -->
        <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet">
        <!-- Roboto Font -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">    
    </head>
    <body>
        <div class="sidebar">
            <div class="toggle">
                <i class="bx bx-chevron-right"></i>
            </div>
            <div class="logo">
                <img src="https://media.discordapp.net/attachments/686290441355788326/1149395779178467368/thumbnail_Patrick_lol_4.png?ex=651c4f3c&is=651afdbc&hm=db211f866cf67d301698638cc17ca6468700526fbf2764dd7127723f36c47d4d&=&width=671&height=671" alt="...">
                <h3>RangelRudi</h3>
            </div>
            <nav>
                <div class="nav-title">
                    MENÜ
                </div>
                <ul>
                    <li class="nav-item active">
                        <i class="bx bxs-dashboard"></i>
                        <span>Dashboard</span>
                    </li>
                    <li class="nav-item">
                        <i class="bx bxs-wallet"></i>
                        <span>Apps</span>
                    </li>
                    <li class="nav-item">
                        <i class="bx bxs-bar-chart-alt-2"></i>
                        <span>Analytics</span>
                    </li>
                    <li class="nav-item">
                        <i class="bx bxs-bell"></i>
                        <span>Benachrichtigungen</span>
                    </li>
                    <li class="nav-item">
                        <i class="bx bxs-cog"></i>
                        <span>Einstellungen</span>
                    </li>
                </ul>
    
                <hr>
    
                <div class="nav-title">
                    Support
                </div>
                <ul>
                    <li class="nav-item">
                        <i class="bx bxs-help-circle"></i>
                        <span>Hilfe</span>
                    </li>
                    <li class="nav-item">
                        <i class="bx bxs-message-dots"></i>
                        <span>Feedback geben</span>
                    </li>
                </ul>
            </nav>
        </div>   
    </body>
</HTML>