<!DOCTYPE html>
<html>
<header>
</header>
<body>
    <div>
        <h1>Testing</h1>
<p-accordion id="testingaccordion" [activeIndex]="0">
    <p-accordionTab header="Systemprozesse">
        <div style="margin-bottom: 20px;">
        <p-button (click)="tryeel()">Prozesse Scannen</p-button>
        <a style="margin-left: 30px; color: white; float: right;">Prozesse Insgesamt: {{listarray_leng}}</a>
    </div>
        <p-table
        [value]="listarray"
        [tableStyle]="{ 'min-width': '50rem' }"
        [paginator]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10, 25, 50, 100]" >
            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let head of header; let i = index">
                        {{head}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-listarray>
                <tr>
                    <ng-container *ngIf="header.length == 1; then coursesList; else noCourses">
                    </ng-container>

                   <ng-template #coursesList>
                    <td>"{{ listarray }}",</td>
                   </ng-template>
                   <ng-template #noCourses>
                    <td *ngFor="let apps of listarray; let i = index">
                        {{ apps }}
                    </td>
                  </ng-template>
                </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
                <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
            </ng-template>
            <ng-template pTemplate="paginatorright">
                <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
            </ng-template>
        </p-table>
    </p-accordionTab>
    <p-accordionTab header="Datenbank">
        <div style="margin-bottom: 20px;">
        <p-button (click)="autoBotDb()">Get all Data</p-button>
        <input style="margin-left: 15px; margin-right: 15px;" id="dbinput" type="text" pInputText/>
        <p-button (click)="autoBotDb_Specific()">Get spezific Data</p-button>
        <a style="margin-left: 30px; color: white; float: right;">Datensätze Insgesamt: {{listarray_leng}}</a>
        </div>
        <p-table
        [value]="listarray"
        [tableStyle]="{ 'min-width': '50rem' }"
        [paginator]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10, 25, 50, 100]" >
            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let head of header; let i = index">
                        {{head}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-listarray>
                <tr>
                    <ng-container *ngIf="header.length == 1; then coursesList; else noCourses">
                    </ng-container>

                   <ng-template #coursesList>
                    <td>{{ listarray }}</td>
                   </ng-template>
                   <ng-template #noCourses>
                    <td *ngFor="let apps of listarray; let i = index">
                        {{ apps }}
                    </td>
                  </ng-template>
                </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
                <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
            </ng-template>
            <ng-template pTemplate="paginatorright">
                <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
            </ng-template>
        </p-table>
    </p-accordionTab>
    <p-accordionTab header="Twitch Login">
        <div>
        <p-button [disabled]="login" (click)="twitchlogin()">Twitch Login</p-button>
        <div style="display: inline-block; margin-left: 10px;vertical-align: top;">
        <a style="color: black;">Deine Credentials:</a>
        <div><a style="color: black;">Oauth Token: {{oauth_token}}</a></div>
            <div><a style="color: black;">Refresh Token: {{refresh_token}}</a></div>
        </div>
        </div>
    </p-accordionTab>
    <p-accordionTab header="Threading">
        <div>
        <p-button class="mr-3" id="Multithreading" [loading]="loading" [disabled]="loading" (click)="threading()">Threading</p-button>
        <p-button id="Multithreading" [disabled]="actbtn" (click)="stopthread()" >Stop</p-button>
    </div>
    </p-accordionTab>
    <p-accordionTab header="Clear Data">
        <div>
        <p-button id="Multithreading" (click)="clearLocalStorage()" >Clear Local Storage</p-button>
        <a style="color: white; margin-left: 20px;">Löscht alle Einträge. Neue Twitchanmeldung erforderlich!</a>
    </div>
    </p-accordionTab>
    <p-accordionTab header="Change Theme">
        <div>
            <p-dropdown [options]="themes" [(ngModel)]="selectedThemes" (onChange)="changeTheme()" optionLabel="name"></p-dropdown>
    </div>
    </p-accordionTab>
    <p-accordionTab header="Add new Game">
        <div>
            <input style="margin-left: 15px; margin-right: 15px;" value="" id="dbexe" type="text" placeholder="game.exe" pInputText/>
            <a>oder </a>
            <p-dropdown [options]="processes" [(ngModel)]="selectedProcess" optionLabel="name"></p-dropdown>
            <p-button id="Multithreading" (click)="processlist()" icon="fa-solid fa-rotate-right" ></p-button>
            <input style="margin-left: 15px; margin-right: 15px;" value="" id="dbname" type="text" placeholder="gamename" pInputText/>
            <input style="margin-left: 15px; margin-right: 15px;" value="" id="dbcategory" type="text" placeholder="Twitch-Category" pInputText/>
            <p-button id="Multithreading" (click)="addgametoSQL()" >Add to Database</p-button>
    </div>
    </p-accordionTab>
</p-accordion>
</div>

<div>
  <h1>Font Awesome Test</h1>
  <i class="fa-solid fa-book"></i>
</div>
</body>
</html>
