/* +++ Default View +++ */

// Header
.twitch-pfp{
  width: 96px;
  border-radius: 90px;
}

.twitch-name {
  color: #fff;
  font-size: 24px;
}

// Content
.nav-title {
  color: #dadada;
  margin: 40px 0 18px;
}

ul {
  padding: 0 16px;
}

.nav-item {
  cursor: pointer;
  color: #fff;
  list-style-type: none;
  height: 56px;
  margin: 8px 0;
}

.nav-item i {
  font-size: 26px;
}

.nav-item span {
  font-size: 18px;
  margin-left: 8px;
}

// Toggle Button
.fa-chevron-left,
.fa-chevron-right {
  color: white;
}

@mixin toggle {
  border-radius: 50%;
  background-color: rgba(10, 10, 10, 0.65);
  width: 30px;
  height: 30px;
  font-size: 24px;
  position: absolute;
  cursor: pointer;
}

.toggle-btn {
  @include toggle;
  margin: 6px;
  top: 0;
  right: 0;
}

/* +++ Collapsed View +++ */

.twitch-pfp-sm{
  width: 56px;
  border-radius: 90px;
}

.toggle-btn-collapsed {
  @include toggle;
  top: 50%;
  right: 0;
  transform: translate(50%);
}
