<p-card  class="shadow-4" id="twitchcard" header="Twitch">
    <div class="grid">
    <ng-container *ngFor="let item of cardItems; let i = index">
    <div class="col-3" (click)="changetoapp(item.approute)" *ngIf="item.public == true || devids.includes(twitchid)">
    <p-card id="appfeature_twcard" class="{{item.styleclass}}" header="{{item.functionname}}">
        <p class="m-0">
            {{item.description}}
        </p>
    </p-card>
</div>
</ng-container>
</div>
</p-card>

<!--<p-card id="youtubecard" header="YouTube">
    <div class="grid shadow-4">
    <ng-container *ngFor="let item of youtItems; let i = index">
    <div class="col">
    <p-card id="appfeature_ytcard" class="{{item.styleclass}}" header="{{item.functionname}}">
        <p class="m-0">
            {{item.description}}
        </p>
    </p-card>
</div>
</ng-container>
</div>
</p-card>-->