<p-sidebar [(visible)]="displayMaximizedSidebar" position="left" [modal]="false" styleClass="prime-sidebar" [showCloseIcon]="false">
    <ng-template pTemplate="header">
      <div class="flex flex-column justify-content-center align-items-center">
        <img class="twitch-pfp" [src]="currentUserPfp">
        <p-menu #menu [model]="items" [popup]="true"></p-menu>
        <p-button  id="profilbtn" type="button" icon="fa-solid fa-gear" iconPos="right" (click)="menu.toggle($event)" label="{{currentUserName | uppercase}}">
        </p-button>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <div class="nav-title">
        MENÜ
      </div>
      <ul>
        <ng-container *ngFor="let item of menuItems; let i = index">
          <a (click)="goToSidebarRoute(item)">
            <li class="nav-item flex flex-row align-items-center">
              <i class="{{item.icon}}"></i>
              <span>{{item.name}}</span>
            </li>
          </a>
        </ng-container>
      </ul>
      <p-divider styleClass="sidebar-divider"></p-divider>
      <div class="nav-title">
        Support
      </div>
      <ul>
        <li class="nav-item flex justify-content-start align-items-center">
            <i class="bx bxs-help-circle"></i>
            <span>Hilfe</span>
        </li>
        <li class="nav-item flex justify-content-start align-items-center">
            <i class="bx bxs-message-dots"></i>
            <span>Feedback geben</span>
        </li>
      </ul>
    </ng-template>
  </p-sidebar>
  