// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-eel-primary: mat.define-palette(mat.$indigo-palette);
$angular-eel-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular-eel-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular-eel-theme: mat.define-light-theme((
  color: (
    primary: $angular-eel-primary,
    accent: $angular-eel-accent,
    warn: $angular-eel-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($angular-eel-theme);

/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import 'node_modules/primeflex/primeflex.css';
@import "primeicons/primeicons.css";

html,body {height: 100%; margin: 0px; padding: 0px; font-family: Roboto, "Helvetica Neue", sans-serif; background: linear-gradient(110deg, #141490 60%, #ffed4b 60%);}

#testingaccordion .p-accordion-header .p-accordion-header-link{
  background-color: #383838 !important;
  color: white;
}

#testingaccordion .p-accordion .p-accordion-content {
  background: rgb(0,255,207);
  background: -moz-radial-gradient(circle, rgba(0,255,207,1) 0%, rgba(100,8,224,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(0,255,207,1) 0%, rgba(100,8,224,1) 100%);
  background: radial-gradient(circle, rgba(0,255,207,1) 0%, rgba(100,8,224,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ffcf",endColorstr="#6408e0",GradientType=1);
}

#tw_login_btn .p-button{
  background-color: #8f15cb !important;
  -webkit-box-shadow: 1px 5px 15px 1px #000000;
box-shadow: 1px 5px 15px 1px #000000;
border: 0;
}

#tw_login_btn .p-button:hover{
  background-color: #6507a0 !important;
-webkit-box-shadow: inset 1px 5px 15px 1px #000000;
box-shadow: inset 1px 5px 15px 1px #000000;
}

#main{
  margin-top: 200px;
}
// PrimeNG Component Styles
.p-sidebar {
  &.prime-sidebar {
    &.p-sidebar-left {
      &.sidebar-collapsed {
        width: 6.5rem;
      }
    }
    .p-sidebar-header {
      display: flex;
      justify-content: center;
      margin-top: 40px;
    }
    &.sidebar-collapsed {
      .p-sidebar-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: visible;
      }

      .p-sidebar-header {
        margin-top: 30px;
      }
    }
    .p-sidebar-content {
      padding: 0 30px;
    }
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    background: rgba(10, 10, 10, .65);
    box-shadow: 0 8px 32px rgb(2, 4, 24);
    border-right: 2px solid rgba(255, 255, 255, .09);
    z-index: 2 !important;
  }
}

.p-divider {
  &.sidebar-divider {
    &.p-divider-horizontal {
      margin: 40px 0 50px;
    }
    &.p-divider-horizontal:before {
      border-top-color: rgba(255, 255, 255, .1);
      border-width: 2px;
      border-radius: 3px;
      margin: 0;
    }
  }
}
